.websiteHeader {
  background-color: blue;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
Alert {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  padding: 1em;
}
