.websiteHeader {
  background-color: blue;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  max-width: 60%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 1em;
}
.convertButton {
  display: flex;
}
